body {
  margin: 0;
  font-family: Monofonto;
  src: url("./fonts/monofonto.ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #1adc09;
}
