.custom-marker {
  background-color: rgba(26, 220, 9, 1);
}

.custom-marker-text {
  position: relative;
  left: 20px;
  top: 5px;
  width: 200px;
  font-size: 1.25rem;
  font-family: Monofonto;
  line-height: 25px;
}

.custom-marker-cluster {
  font-family: "Monofonto";
  font-size: 1.5rem;
  color: rgba(26, 220, 9, 1);
  background-color: rgba(26, 220, 9, 0.2);
  border: 5px solid rgba(26, 220, 9, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
