.listpage-container {
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "list list image"
    "list list image"
    "list list data";
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.list-child {
  grid-area: list;
  padding-left: 20px;
  padding-right: 20px;
}

.image-child {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-child img {
  max-width: 500px;
  height: 225px;
  position: relative;
  z-index: 100;
}

.data-child {
  grid-area: data;
}
